---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title?: string;
	description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title = "", description = "Unsplash API exercise" } = Astro.props;
const siteName = 'ITW24';
const pipedTitle = title ? `${title} | ${siteName}` : siteName;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{pipedTitle}</title>
<meta name="title" content={pipedTitle} />
<meta name="description" content={description} />

<ViewTransitions />